<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">
                    Mis datos
                </h2>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        Nombre Completo

                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                    value="{{usuario.nombre}} {{usuario.apellidos}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        Matricula
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.matricula}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        Contraseña
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.password}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        CURP
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.CURP}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        RFC
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.RFC}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        Numero de contacto
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.telefono}}">
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">
                    Informacion Academica
                </h2>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        CVU
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.CVU}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        Licenciatura
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.licenciatura}}">
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        Maestria
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.maestria}}">
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        Doctorado
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.doctorado}}">
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        Especialidad
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.especialidad}}">
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>