<div class="card">
    <div class="card-header text-center">
        <h2>Datos Personales de los Usuarios</h3>
    </div>
    <div class="card-body">
        <table class="table table-dark table-info">
            <thead>
                <tr>
                    <th scope="col">Matrícula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">CURP</th>
                    <th scope="col">RFC</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Nacimiento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Edad</th>
                </tr>
            </thead>

            <tbody class="table-light" id="letraTabla">
                {{#each TodosUsuarios}}
                <tr>
                    <th scope="row">{{matricula}}</th>
                    <td>{{nombre}}</td>
                    <td>{{apellidos}}</td>
                    <td>{{CURP}}</td>
                    <td>{{RFC}}</td>
                    <td>{{direccion}}</td>
                    <td>{{lugarNacimiento}}</td>
                    <td>{{telefono}}</td>
                    <td>{{edad}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header text-center">
        <h2>Datos Academicos de los Usuarios</h3>
    </div>
    <div class="card-body">
        <table class="table table-dark table-info">
            <thead>
                <tr>
                    <th scope="col">Matrícula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">CVU</th>
                    <th scope="col">Ingeniería</th>
                    <th scope="col">Maestria</th>
                    <th scope="col">Doctorado</th>
                    <th scope="col">Especialidad</th>
                </tr>
            </thead>

            <tbody class="table-light" id="letraTabla">
                {{#each TodosUsuarios}}
                <tr>
                    <th scope="row">{{matricula}}</th>
                    <td>{{nombre}}</td>
                    <td>{{CVU}}</td>
                    <td>{{licenciatura}}</td>
                    <td>{{maestria}}</td>
                    <td>{{doctorado}}</td>
                    <td>{{especialidad}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>